.calculator-wrapper {
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
}


.row1 {
  width: 100%;
}


.button {
  width: 22.5%;
  height: 60%;
  font-size: 50px;
  background-color: #ccc;
  border-radius: 5px;
}

.row1 .button {
  background-color: black;
  color: white;
  text-align: right;
}

.long-button {
  width: 100%;
}

.row2 button:first-child {
  width: 54.5%;
}

.row2 button:not(:first-child) {
  width: calc((54.5%) / 3);
}


.math {
  background-color: orange;
}

#row1 {
  font-family: monospace;
}

.custom-class {
  width: 70%; 
  font-size: 50px;
  background-color: #ccc;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #dd8d37;
}
